.inputs.radio ul.error {
    padding-top: 60px;
}
@media only screen and (min-width: 768px) {
    .inputs.radio .explanation {
        padding-left: 160px;
        padding-right: 240px;
    }
    .container .inputs.radio input {
        padding-right: 240px;
        width: 40px;
    }
    .container .inputs.radio label {
        padding-left: 140px;
        padding-right: 240px;
    }
}
p.explanation.note {
    font-style: italic;
}
.upgrade .check-error {
    color: red;
}
.upgrade .plugin-enabled.upgradable {
    color: green;
    font-weight: bold;
}
.upgrade .plugin-enabled.unupgradable {
    color: red;
    font-weight: bold;
}
#upgrade-logs .emergency,
#upgrade-logs .alert,
#upgrade-logs .critical {
    color: red;
    font-size: 16px;
    font-weight: bold;
}
#upgrade-logs .error {
    color: red;
    font-weight: bold;
}
#upgrade-logs .warning {
    color: red;
}
#upgrade-logs .notice {
    color: orange;
}
#upgrade-logs .info {
    color: black;
}
#upgrade-logs .debug {
    color: grey;
}
