<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="//code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<style media="screen" type="text/css">
    body { font: 400 14px/1.5 Helvetica Neue, Helvetica, "Segoe UI", Roboto, Arial, sans-serif; }
    a { color: #337ab7; text-decoration: none; }
    a:visited { color: #1756a9; }
    header .wrapper,
    footer .wrapper { max-width: 1024px; }
    .site-title { display: inline-block; float: initial; text-align: center; margin-bottom: 18px; width: calc(100% - 80px); }
    .lang-switcher { float: right; margin-top: 1em; }
    .lang-switcher ul { list-style-type: none; margin-left: 0; padding-left: 0; }
    .lang-switcher ul li { margin-bottom: 0.5em; }
    .site-nav { display: block; float: initial; text-align: center; }
    .site-nav label { display: inline; }
    .page-link { display: inline-block; }
    .sort { cursor: pointer; }
    .page-content .wrapper { max-width: inherit; }
    .page-content .wrapper .post-header,
    .page-content .wrapper .post-content > * { max-width: calc(800px - 30px * 2); margin-left: auto; margin-right: auto; padding-left: 30px; padding-right: 30px; }
    @media (min-width:1440px) {
        header .wrapper,
        footer .wrapper { max-width: 1024px; }
        .page-content .wrapper .post-header,
        .page-content .wrapper .post-content > * { max-width: calc(1024px - 30px * 2); }
    }
    .page-content .wrapper .post-content .container-fluid { max-width: inherit; }
    .page-content .table-striped > tbody > tr:nth-of-type(2n+1) { background-color: #fefefe; }
    .version-alpha { color: #ff0000; }
    .version-beta { color: #ff6600; }
    .version-rc { color: #339933; }
    .form-control::placeholder { color: #999; opacity: 1; }
    .svg-icon { width: 24px; height: 24px; }
    .footer-heading { text-align: center; }
    .footer-col-2 { width: calc(20% - (30px / 2)); }
</style>
